* {
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 960px;
}

a {
    text-decoration: none;
    color: purple;
}

.wrapper {
    width: 100%;
    padding: 5px;
    background-color: green;
}

.topic {
    margin: 10px 0;
    padding: 15px 5px;
    background-color: #fefefe;
    border-radius: 5px 25px 10px;
}

.topic h2 {
    margin-top: 0;
}

.topicTable {
    width: 100%;
    padding: 5px;
}

.link,
.description {
    width: 40%;
    text-align: left;
}

.price {
    width: 20%;
    text-align: right;
}